*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #aaa;
    border: 2px #333 solid;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.containerMax{
    width: 100vw;
    height: 80vh;
    background-color:#ddd;
    padding: 1em;
    font-size: 1.3em;
}
.containerMax > p {
    text-align: center;
}

#form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#login{
    width: 400px;
    height: 500px;
    background: #aaa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: #333 solid 2px;
    border-radius: 5%;

}

.form-item{
    width: 60%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#enlace{
    display: none;
}